body {
    background: #f0cf82;
    font-family: Roboto, sans-serif;
}

.root {
    margin: 80px auto;
    width: 740px;
    height: 400px;
    display: flex;
    box-shadow: 0 2px 10px -3px #0000007d;
}

.left {
    width: 30%;
    background: #f2f2f2;
    padding: 0 35px;
    overflow-y: scroll;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 35px 0;
}

.header.underlined {
    border-bottom: 1px solid #ededed;
}

.right {
    width: 60%;
    background: white;
    padding: 0 35px;
    overflow-y: scroll;
}

.button {
    background: transparent;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.title {
    color: #5c5c5c;
    font-size: 20px;
    line-height: 28px;
}

.title_button {
    border: none;
    padding: 0 5px;
    font-size: 26px;
    line-height: 28px;
}



.title_value {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.title_value__sup {
    font-size: 14px;
}

.card {
    border: 1px solid #dedede;
    background: white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 35px;
    color: #a4a4a6;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out;
}

.card.active,
.card:hover {
    box-shadow: 0 0 0 2px #9d9db8;
}

.card__logo {
    width: 60px;
}

.card__logo__img {
    width: 100%;
    height: 100%;
}

.card__number {

}

.card__expiration {
    font-size: 13px;
    margin-top: 6px;
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0 25px 0;
}

.item__button {
    border-radius: 15px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    position: relative;
    margin-right: 30px;
}

.item__button:active {
    border-style: solid;
}

.item__button::after {
    content: '+';
    ne-block;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    dle;
    position: absolute;
}

.added > .item__button::after {
    content: '-';
}

.item__content {
    margin-right: 10px;
    text-align: left;
}

.item__content__title {
    font-weight: 500;
}

.item__content__info {
    font-size: 12px;
    color: #c6c6c6;
    margin-top: 10px;
}

.item__price {
    font-weight: 500;
    color: #9da3bb;
    flex-grow: 1;
    text-align: right;
}

.added > .item__price {
    color: #abc97e;
}

.item__price__sup {
    font-size: 10px;
}