.body {
    background: #8ca4d0;
    font-family: 'Roboto';
}

.content {
    position: absolute;
    display: flex;
    background: white;
    padding: 15px;
    width: 750px;
    margin-top: 80px;
    border-radius: 2px;
    left: 50%;
    margin-left: -375px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 5px 30px #3333339c;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 2px;
    padding: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s linear;
}

.item:hover {
    background: #f1f1f1;
}

.item > * {
    margin-bottom: 25px
}

.item > *:last-child {
    margin-bottom: 0;
}

.img {
    width: 70px;
}

.title {
    color: #7f7dac;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text {
    color: #cbcbcb;
    font-size: 12px;
    text-align: center;
}

.price {
    display: flex;
    color: #7f7dac;
}

.price-currency {
    margin-top: 3px;
}

.price-value {
    font-size: 30px;
    font-weight: bold;
}

.price-period {
    margin-top: 12px;
}